.critter-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    flex: 7;
}

@media (max-width: 580px) {
    .critter-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}